/* Remove number input arrows - Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input arrows - Firefox */
input[type=number] {
    appearance: textfield;
}
/* Custom styles for admin panel */

#Link {
    color: #000000;
    text-decoration: none;
}

#avatar-img {
    width: 200px;
    height: 200px;
    border: #222222 solid 4px;
    padding: 2px;
    border-radius: 50%;
}