{% extends "admin/admin_layout.html" %}

{% block content %}
            <div class="page-content">
                <!-- Page Header-->
                <div class="page-header no-margin-bottom">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Budget</h2>
                </div>
                </div>
                <!-- Breadcrumb-->
                <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item active">Budget</li>
                </ul>
                </div>
                <section class="no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="block">
                        <div class="title"><strong>Budget</strong></div>
                        <div class="table-responsive"> 
                            <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                <th>Department</th>
                                <th>Total Budget</th>
                                <th>Available Budget</th>
                                <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bgt in budgets %}
                                <tr class="clickable-row" data-url="{{ url_for('admin.viewbgtdata', dept_id=bgt[4]) }}">
                                    <td>{{ bgt[0] }}</td>  <!-- Department -->
                                    <td>{{ "{:,}".format(bgt[1]|int) }}</td>  <!-- Amount Limit -->
                                    <td>{{ "{:,}".format(bgt[2]|int) }}</td>  <!-- Available Budget -->
                                    <td>{{ bgt[3] }}</td>  <!-- Year -->
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                </section>
                <script>
                document.querySelectorAll(".clickable-row").forEach(row => {
                    row.addEventListener("click", () => {
                        window.location = row.dataset.url;
                    });
                });
                </script>
{% endblock %}